.social {
    width: 85%;
    margin-top: 8px;
}

.part-one h4,
.part-two h4 {
    font-size: 15px;
    font-weight: 600;
    color: hsl(228, 12%, 44%);
}

.view-number {
    font-size: 30px;
    font-weight: 700;
    color: hsl(230, 17%, 14%);
    text-align: left;
}

h2 {
    text-transform: capitalize;
    align-self: flex-start;
    padding-left: 30px;
}

.view,
.likes {
    border-radius: 10px;
    padding: 16px 18px 0px 18px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.overview-card-dark .social .view,
.overview-card-dark .social .likes {
    background-color: hsl(228, 28%, 20%)!important;
    box-shadow: none !important;
}

.overview-card-dark>.social .view p,
.overview-card-dark .likes p {
    color: hsl(0, 0%, 100%);
}

@media (min-width: 630px) {
    .view,
    .likes {
        width: 100% !important;
    }
}

@media (min-width: 870px) {
    .view,
    .likes {
        width: 100% !important;
        align-items: center;
        height: 120px;
    }
}

.social-icon {
    margin-top: 5px;
}

.view-rate {
    margin-top: 11px;
}

.rate p {
    display: inline-block;
}

.part-one,
.part-two {
    display: block;
}

.up p {
    color: hsl(163, 72%, 41%)
}

.down p {
    color: hsl(356, 69%, 56%);
}