.overview-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
    justify-content: center
}

.overview-cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: hsl(228, 12%, 44%);
    margin-bottom: 15px;
}

@media (min-width: 630px) {
    h2 {
        font-size: 28px;
    }
    .overview-cards {
        flex-flow: row wrap;
        justify-content: center;
    }
    .social {
        display: flex;
        width: 42% !important;
    }
}